<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク一覧 | タスク管理アプリ</title>
</head>

<body>
	<h1>タスク一覧</h1>
	<a href="../index.html" th:href="@{/}">トップページ</a>
	<a href="./creationForm.html" th:href="@{/tasks/creationForm}">作成</a>

	<form th:action="@{/tasks}" method="get" style="margin: 1rem 0;">
		<label for="sort">並び替え対象：</label>
	
		<select id="sort" name="sort">
			<option value="createdAt" th:selected="${sort} == 'createdAt'">登録日（作成日時）</option>
			<option value="summary" th:selected="${sort} == 'summary'">概要</option>
			<option value="priority" th:selected="${sort} == 'priority'">優先順位</option>
		</select>

		<label for="dir" style="margin-left: .75rem;">順序：</label>
		<select id="dir" name="dir">
			<option value="asc" th:selected="${dir} == 'asc'">昇順</option>
			<option value="desc" th:selected="${dir} == 'desc'">降順</option>
		</select>

		<button type="submit" style="margin-left: .75rem;">並び替え</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>概要</th>
				<th>優先順位</th>
				<th>登録日</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${taskList}">
				<th th:text="${task.id}">(id)</th>
				<td>
					<a href="./detail.html" th:href="@{/tasks/{taskId}(taskId=${task.id})}" th:text="${task.summary}">
						(summary)
					</a>
				</td>
				<th th:text="${task.priority}">(priority)</th>
				<th th:text="${#temporals.format(task.createdAt, 'yyyy年M月d日 HH時mm分')}">(createdAt)</th>
			</tr>
		</tbody>
	</table>
</body>

</html>